
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="description" content="${siteInfo.description}"/>
		<meta name="keywords" content="${siteInfo.keywords}"/>
		<meta http-equiv="x-dns-prefetch-control" content="on" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link type="text/css" rel="stylesheet"  href="/css/webpage_main-480.css"/>
		<title>委托代开代征管理系统-ABC财税网</title>

		<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
		<link type="text/css" rel="stylesheet" media="screen and (min-width:481px) and (max-width:1200px)" href="/css/webpage_main-1024.css"/>
		<link type="text/css" rel="stylesheet" media="screen and (min-width:1201px)" href="/css/webpage_main.css"/>
		<link rel="stylesheet" type="text/css" href="/css/iconfont.css"> 
		<!--[if IE 8]>
			<link type="text/css" rel="stylesheet"  href="/css/webpage_main-1024.css"/>
		<![endif]-->
		
		<script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="/js/bootstrap.js" ></script>
		
		<script type="text/javascript" src="/js/webpage_main.js"></script>
		<script type="text/javascript" src="/js/jquery.base64.min.js"></script>
		<script type="text/javascript">
			var snsUrl = "${snsUrl}";
			var ucUrl = "${ucUrl}";
			var picUrl= "${picUrl}";
			var cswUrl = "${cswUrl}";
		</script>
		<script type="text/javascript" src="/js/services.js"></script>
		${siteInfo.statisticsCode}
		<style>
			.ny_login_nav2 {
				float: left;
				color: #fff;
			}
			.ny_login_nav2 img{
				height:40px;
				width:40px;
				border-radius:40px;
				margin:7px;
				float: left;
			}
			.ny_login_nav2 .user_name{
				float: left;
			}
			.ny_login_nav2 .user_name p{
				line-height:10px;
				margin-top:12px;
			}
			.ny_login_nav2 .user_name a{

			}
		</style>
	</head>

	<body style="background:#fff;">
		<!-- head -->
		<div id="header">
			<div class='ny_head'>
				<div class='w_1200'>
					<div class='ny_logo'>
						<a href='${cswUrl}/index.html' title='网站首页'>
							<div class='boximg'><span><img src='${cswUrl}/images/logo.png'></span></div>
						</a>
					</div>

					<div class='ny-480-nav'>
						<div class='ny-480-sg'>
							<span></span>
							<span></span>
							<span></span>
						</div>
						<ul>
							<li class='active'><a href='${cswUrl}/index.html'>首页</a></li>
							<li><a href='${cswUrl}/products/index.html'>产品</a></li>
							<li><a href='${cswUrl}/services/index.html'>服务</a></li>
							<li><a href='${cswUrl}/news/index.html'>资讯</a></li>
							<li><a href='${cswUrl}/rjxz/index.html'>下载</a></li>
							<li><a href='${snsUrl}/school/index.html'>学堂</a></li>
							<li><a href='${snsUrl}/bangbang/index.html'>帮邦</a></li>
							<div class='clear'></div>
						</ul>
						<div class='ny-480-bg'></div>
					</div>

					<div class='fr'>
						<div class='ny_nav'>
							<ul>
								<li><a href='${cswUrl}/index.html'>首页</a></li>
								<li><a href='${cswUrl}/products/index.html'>产品</a></li>
								<li><a href='${cswUrl}/services/index.html'>服务</a></li>
								<li><a href='${cswUrl}/news/index.html'>资讯</a></li>
								<li><a href='${cswUrl}/rjxz/index.html'>下载</a></li>
								<li><a href='${snsUrl}/school/index.html'>学堂</a></li>
								<li><a href='${snsUrl}/bangbang/index.html'>帮邦</a></li>
								<div class='clear'></div>
							</ul>
						</div>
						<div class="ny_login_serach">
							<a href="${snsUrl}/search/index.html" target="_blank"><i class="iconfont">&#xe83b;</i>搜索</a>
							<a href="javascript:void(0);" id="tiwen"><i class="iconfont">&#xe7c0;</i>提问</a>
						</div>
						<div id="loginheaddiv" class="ny_login_nav">
							<a href="${ucUrl}/login">登录</a>|
							<a href="${ucUrl}/login#zhuce">注册</a>
						</div>

						<div id="loginheaddiv_loged" class="ny_login_nav2" style="display:none;">
							<img id="userpic_img" src="${cswUrl}/images/icon_zx_03.png">
							<div class="user_name">
								<p><a id="nickname_a" style="color: #fff; font-size: 12px;" href="${ucUrl}/index.html"></a></p>
								<a id="vip_a" href="javascript:void (0)" style="color: #fcff00; font-size: 12px;"></a>
							</div>
							<div class="nemu-box">
								<div class="center"><a id="level_a" href="javascript:void (0)"></a></div>
								<ul><li name="${ucUrl}/index.html" link="${ucUrl}/userinfo/userinfolist.html" onclick="jbzl()"> <a href="javascript:void(0);"><i class="iconfont"> </i><span>基本资料</span></a></li>
									<li name="${ucUrl}/index.html?#1_1" link="${ucUrl}/userinfo/userinfolist.html?#1_1" onclick="smrzClick()">
										<a href="javascript:void(0);"><i class="iconfont"> </i><span>实名认证</span></a>
									</li>
									<li name="${ucUrl}/userinfo/user_message.html" link="${ucUrl}/userinfo/user_message.html" onclick="wdxx();">
										<a href="javascript:void(0);"><i class="iconfont"> </i><span>我的消息</span></a>
									</li>
									<li name="${ucUrl}/member/member_index.html" link="${ucUrl}/member/member_index.html" onclick="hyzx();">
										<a href="javascript:void(0);"><i class="iconfont"> </i><span>会员中心</span></a>
									</li>
									<li class="tuichu"><a href="${ucUrl}/logout_index.html"><i class="iconfont"> </i><span>退出登录</span></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class='clear'></div>
		</div>
		<!-- head end -->
		<!-- main -->
		<div class="chanpin-entrust" >
			<a href="">
				<img class="wtdkdzgl-img" src="/images/weituo1.png" alt="">
				<img class="wtdkdzgl-480" src="/images/wtdkdzgl-480.jpg" alt="">
			</a>
		</div>
		<div class="entrust-content w_1200 clearfix">
			<div class="entrust-content-left fl">
				<p>系统介绍</p>
				<p>委托代开代征管理系统是以税务局核心征管系统为依托，税务机关委托第三方机构（例如邮政）进行发票代开、税款代征的行为进行监控管理的综合信息管理系统；主要由受托方双代业务子系统（例如邮政电商代办平台）和税务代开代征管理子系统两部分组成。</p>
				<p>系统以“防患税收代办风险”为主线，遵循“事前监控管理”为原则进行功能设计，是既符合国家税务总局相关技术、业务标准规范要求，又结合个体税收管理实际情况的一套既面向个体税收服务、又面向税务干部业务管理监控和系统运维的综合服务平台。</p>
				<p>系统功能主要包括：受托单位及网点管理、发票品目管理、对账结报管理、异常数据监控管理、代征风险防御策略配置管理等功能模块。</p>
			</div>
			<div class="entrust-content-right fl">
				<img src="/images/weituo2.jpg" alt="">
			</div>
			
		</div>
		<div class="entrust-bottom w_1200">
				<p> 功能特性</p>
				<p>受托单位业务管理人员和代开代征网点操作人员通过受托方双代业务子系统（例如邮政电商代办平台）进行日常业务操作，包括发票领用分发，初始发票号设置，发票代开、作废和退票，税款结报、发票验旧等处理。</p>
				<ul class="clearfix">
					<li>
						<i class="iconfont" style="background:#4BA6F9;">&#xe7a1;</i>
						<p>受托代征单位管理</p>
					</li>
					<li>
						<i class="iconfont" style="background:#E96EFC;">&#xe79d;</i>
						<p>代开代征网点管理</p>
					</li>
					<li>
						<i class="iconfont" style="background:#3BD6D8;">&#xe79f;</i>
						<p>代开代征状况监控</p>
					</li>
					<li>
						<i class="iconfont" style="background:#FCAE49;">&#xe7a2;</i>
						<p>发票品目管理</p>
					</li>
					<li>
						<i class="iconfont" style="background:#FF8758;">&#xe7a0;</i>
						<p>企业发票验旧交旧</p>
					</li>
					<li>
						<i class="iconfont" style="background:#FFD306;">&#xe79e;</i>
						<p>代征税款结报</p>
					</li>
				</ul>
			</div>
			<div class="entrust-bottom-two w_1200">
				<p>客户案例</p>
				<p>从2013年起，湖南邮政和艾博克公司在湖南国税的支持下在全国首创完成了国税委托邮政代开代征系统的建设，从而有效的解决个体、市场以及零星隐蔽税收征管难的问题，同时规范代开发票和代征税控工作，缓解办税大厅压力，作为湖南国税创新项目的典范，该系统也得到了总局和其他省市国税系统的美誉，取得了巨大且积极的社会效益。目前该系统已在湖南、甘肃等多个省份推广应用。</p>
			</div>
		<!-- main end -->
		<!-- footer  -->
		<div class="footer">
			<div class="w_1200">
				<ul class="footer_nav">
					<li>
						<h3><a href="${cswUrl}/aboutus/fc5d52f799ba4f9fa6968c9105015d4d.html" target="_blank">关于我们</a></h3>
						<dl>
							<dd>
								<a href="${cswUrl}/aboutus/62f19008a49a4008912e7ab64c75a945.html" target="_blank">联系我们</a>
							</dd>
							<dd>
								<a href="${cswUrl}/aboutus/16241b879f4248bda857688c13ae9fd7.html" target="_blank">版权声明</a>
							</dd>
							<dd>
								<a href="${cswUrl}/aboutus/09e1eda03bc04a92b5a891fa16d8301d.html" target="_blank">隐私政策</a>
							</dd>
							<dd>
								<a href="${cswUrl}/aboutus/e8ee90183ece4ffaaf1c1d3e62555feb.html" target="_blank">商务合作</a>
							</dd>
						</dl>
					</li>
					<li>
						<h3><a href="${cswUrl}/products/index.html" target="_blank">产品</a></h3>
						<dl>
							<dd>
								<a href="${cswUrl}/products/9e4c82e39ccc443f8edc0acf89ccf365.html" target="_blank">ABC财税专家</a>
							</dd>
							<dd>
								<a href="${cswUrl}/products/614d7ccc8c72496b9000392f02af5a7a.html" target="_blank">ABC电子申报</a>
							</dd>
							<dd>
								<a href="${cswUrl}/products/9c92ea303a994ef1accbb294d14e3bf5.html" target="_blank">电子税局</a>
							</dd>
							<dd>
								<a href="${cswUrl}/products/11e6ae0f2fea42b695e406299ce9f6fa.html" target="_blank">税务公众号</a>
							</dd>
						</dl>
					</li>
					<li>
						<h3><a href="${cswUrl}/services/index.html" target="_blank">服务</a></h3>
						<dl>
							<dd>
								<a j onclick="sbfwxfClick();">申报服务续费</a>
							</dd>
							<dd>
								<a href="javascript:void(0);" onclick="wjmmClick();">忘记申报密码</a>
							</dd>
							<dd>
								<a href="javascript:void(0);" onclick="sqfpClick();">索取发票</a>
							</dd>
							<dd>
								<a href="javascript:void(0);" onclick="jfczClick();">帐户充值</a>
							</dd>
						</dl>
					</li>
					<li>
						<h3><a href="${snsUrl}/help/knowledge/index.html" target="_blank">帮助中心</a></h3>
						<dl>
							<dd>
								<a href="${ucUrl}/login#zhuce" target="_blank">用户注册</a>
							</dd>
							<dd>
								<a href="${ucUrl}/forgotpassword.html" target="_blank">找回密码</a>
							</dd>
							<dd>
								<a href="${snsUrl}/help/knowledge/index.html" target="_blank">常见问题</a>
							</dd>
							<dd>
								<a href="${snsUrl}/help/knowledge/detail.html?id=eb0315659c6a438ba7568251ea9b913b" target="_blank">新手指南</a>
							</dd>
						</dl>
					</li>
					<div class="clear"></div>
				</ul>
				<div class="footer_link">
					<h3><a href="">友情链接</a></h3>
					<ul>
						<#if links?? && links?size gt 0>
							<#list links as link>
								<li>
									<a href="${link.domain!}" target="_blank">${link.siteName!}</a>
								</li>
							</#list>
						</#if>


						<div class="clear"></div>
					</ul>
				</div>
				<div class="footer_code"><img src="/images/code.jpg">微信关注我们</div>
				<div class="clear"></div>
			</div>
			<div class="foot w_1200">
				<div class="fl">Copyright © 2005-2015 ABC12366 All Rights Reserved 粤ICP备08111004号-3
					<script id="ebsgovicon" src="https://szcert.ebs.org.cn/govicon.js?id=4a80c3b8-1619-4ffa-ae2e-16c54df84596&width=70&height=22&type=2" type="text/javascript" charset="utf-8"></script>
				</div>
				<div class="fr">
					<div class="yuan bg_blue fl">T</div>400-887-3133</div>
				<div class="clear"></div>
			</div>
		</div>
		<!-- footer end -->

	</body>
	<script type="text/javascript" src="/js/header.js"></script>
</html>